@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background-color: #f2f4fa;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins", Roboto, Segoe UI, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  user-select: none;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

@media (display-mode: standalone) {
  :root {
    --safe-area-inset-top: env(safe-area-inset-top);
    --safe-area-inset-bottom: env(safe-area-inset-bottom);
  }
  
  body {
    padding-top: var(--safe-area-inset-top);
    padding-bottom: var(--safe-area-inset-bottom);
  }
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.slide-enter {
  position: absolute;
  width: 100%;
  transform: translateX(100%);
}

.slide-enter-active {
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
}

.slide-exit {
  position: absolute;
  width: 100%;
  transform: translateX(0);
}

.slide-exit-active {
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
}

.slide-back-enter {
  position: absolute;
  width: 100%;
  transform: translateX(-100%);
}

.slide-back-enter-active {
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
}

.slide-back-exit {
  position: absolute;
  width: 100%;
  transform: translateX(0);
}

.slide-back-exit-active {
  transform: translateX(100%);
  transition: transform 300ms ease-in-out;
}

.status-bar {
  height: env(safe-area-inset-top);
  background-color: #f2f4fa;
}

.ios-button {
  background-color: #007AFF;
  border-radius: 8px;
  padding: 12px;
  color: white;
  font-weight: 500;
  text-align: center;
  width: 100%;
  margin-top: 16px;
}

.ios-input {
  border: 1px solid #E5E5EA;
  border-radius: 8px;
  padding: 12px;
  width: 100%;
  margin-top: 8px;
  background-color: #FFFFFF;
}

.nav-indicator {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #007AFF;
}


.frame-border {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -5%);
  width: 220px;
  height: 220px;
  pointer-events: none;
  z-index: 1;
}

.corner {
  position: absolute;
  width: 55px;
  height: 55px;
  border: 5px solid white;
}

.top-left {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
  border-radius: 25px 0 0 0;
}

.top-right {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
  border-radius: 0 25px 0 0;
}

.bottom-left {
  bottom: 0;
  left: 0;
  border-right: none;
  border-top: none;
  border-radius: 0 0 0 25px;
}

.bottom-right {
  bottom: 0;
  right: 0;
  border-left: none;
  border-top: none;
  border-radius: 0 0 25px 0;
}